<!--========== FOOTER ==========-->
<footer class="g-bg-color--dark">
    <!-- End Links -->
    <div class="container g-padding-y-60--xs">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">

                <!--<a href="http://pnaf.in">-->
                <!--<img class="img-responsive g-padding-x-0--xs" style="height: 45px" src="static/img/pnaf_logo.png" alt="PNAF">-->
                <!--</a>-->

                <div style="display: flex">


                    {{!-- <a href="http://pnaf.in">
                                <!--<img class=" g-height-auto--xs" src="static/img/consologo.png" alt="StartUp Conclave" height="45" width="45">-->
                                <img class="img-responsive g-padding-x-0--xs" style="height: 45px" src="static/img/pnaf_logo.png" alt="PNAF">
                            </a> --}}

                    <a href="/" style="margin-left: 20px;">
                        <img class="g-width-100--xs g-height-auto--xs" src="static/img/E-Cell_white.png"
                            alt="Ecell Logo">
                    </a>
                </div>

                <br><br>
                <a class="s-header__action-link" href=" https://m.facebook.com/vnitecell/" target="_blank">
                    <i class="g-padding-r-5--xs ti-facebook"></i>
                    <span class="g-display-none--xs g-display-inline-block--sm">Facebook</span>
                </a>
                <a class="s-header__action-link" href="https://twitter.com/ecell_vnit" target="_blank">
                    <i class="g-padding-r-5--xs ti-twitter"></i>
                    <span class="g-display-none--xs g-display-inline-block--sm">Twitter</span>
                </a>
                <a class="s-header__action-link" href=" https://www.instagram.com/ecellvnit/" target="_blank">
                    <i class="g-padding-r-5--xs ti-instagram"></i>
                    <span class="g-display-none--xs g-display-inline-block--sm">Instagram</span>
                </a>
                <br>
                <a class="s-header__action-link" href=" https://www.linkedin.com/company/6615520/" target="_blank">
                    <i class="g-padding-r-5--xs ti-linkedin"></i>
                    <span class="g-display-none--xs g-display-inline-block--sm">LinkedIn</span>
                </a>
                <a class="s-header__action-link" href=" https://www.youtube.com/channel/UC0KNOmODhqLcEpcfN9qEsIQ"
                    target="_blank">
                    <i class="g-padding-r-5--xs ti-youtube"></i>
                    <span class="g-display-none--xs g-display-inline-block--sm">YouTube</span>
                </a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <p class="g-color--white">For Association Opportunities Contact:<br><b>contact@ecellvnit.org</b></p>
                <p class="g-color--white">For sponsorship Opportunities
                    Contact:<br><b><b>corporateaffairs@ecellvnit.org</b></b></p><b><b>

                    </b></b>
            </div><b><b>
                    <div class="col-sm-12 col-md-4 col-lg-4 g-text-right--md">
                        <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white"> All rights reserved<br>© <a
                                class="g-color--primary" href="https://www.ecellvnit.org/" target="_blank">E-cell
                                Vnit</a></p>
                    </div>
                </b></b>
        </div><b><b>
            </b></b>
    </div>
    <!-- End Copyright -->
</footer>