<!-- Begin Head -->
    <head>

        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-125403862-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-125403862-1');
        </script>
        <!-- Basic -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>StartUp Conclave</title>
        <meta name="keywords" content="Ecell, PNAF, Pan nit, vnit, Ecell VNIT, entreprenuship cell, Startup Conclave, 2019, consortium'19, vnit consortium, internit, business plan">
        <meta name="description" content="Great ideas result into great great undertakings which pave the way for glaring success. In order to facilitate this vision of promoting entrepreneurship in India, E-Cell VNIT organizes StartUp Conclave, a national business plan competition with PNAF">
        <meta name="author" content="Sagar Bansal">
        <meta name="theme-color" content="rgb(189,32,38)")>
        <!-- Web Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

        <!-- Vendor Styles -->
        <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="static/css/animate.css" rel="stylesheet" type="text/css"/>
        <link href="static/vendor/themify/themify.css" rel="stylesheet" type="text/css"/>
        <link href="static/vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css"/>
        <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css"/>
        <link href="static/vendor/swiper/swiper.min.css" rel="stylesheet" type="text/css"/>
        <link href="static/vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css"/>


        <!-- Theme Styles -->
        <link href="static/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="static/css/global/global.css" rel="stylesheet" type="text/css"/>
        <link href="static/css/custom.css" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="static/img/sclogo1.png" type="image/x-icon">
        
    </head>
    <!-- End Head -->
