<!DOCTYPE html>
        <html>
            <head>
                <style>
                    li{
                        padding:10px;
                    }
                    p{
                        font-size:16px;
                    }

                    *{
                        font-family:Helvetica,Arial,sans-serif;
                    }

                    h2{
                        text-align: center;
                        margin-top: 150px;

                    }
                    html, body{
                        background-color:#f7f9fb;
                        margin: 0;
                    }
                    .context {
                        font-size: 12px;
                        padding: 40px 60px;
                        margin-left:10%;
                        margin-right: 10%;
                    }

                    .context p{
                        font-size: 12px;
                    }
                    p{
                        margin: 15px 0px;
                    }

                </style>
            </head>
            <body>

                <div style="background: #0b0b0b; padding:10px 30px;"><img src="https://www.ecellvnit.org/img/logo-ecell.png"></div>
                <h2 style="font-size:22px;">Welcome to Startup Conclave | Round 3<br><span style="font-size: 16px">Make Ideas Happen</span></h2><br>

                <div class="context">


                    <h3><b>Hello {{name}},</b></h3>

                    <div>
                        <p>Congratulations on making it to the final round of Startup Conclave!<br>You have just confirmed your journey to the final of India's Largest B-plan Competition. Now you are just one step away to get the reward of your hard work you did in the last 3 months.
                        </p>

                        <p>
                            A session on 'How to Pitch' is scheduled on 5<sup>th</sup> March 2019 in order to help you refine your pitch decks.<br>
                            Further details will be reflected on your dashboard.
                        </p>
                        <div style="background: #ffffffb3; padding: 30px 10px; font-size: 14px; margin: 40px 0px">
                            Login ID: <b>{{email}}</b><br><br>
                        </div>
                        <p>
                            With warm regards,<br>
                            PNAF & Team E-Cell, VNIT<br>
                            In case of any further queries, contact:
                            Lakshya: +91 77384 46941
                        </p>

                    </div>
                </div>
            </body>
        </html>
