<!DOCTYPE html>
        <html>
            <head>
                <style>
                    li{
                        padding:10px;
                    }
                    p{
                        font-size:16px;
                    }

                    *{
                        font-family:Helvetica,Arial,sans-serif;
                    }

                    h2{
                        text-align: center;
                        margin-top: 150px;

                    }
                    html, body{
                        background-color:#f7f9fb;
                        margin: 0;
                    }
                    .context {
                        font-size: 12px;
                        padding: 40px 60px;
                        margin-left:10%;
                        margin-right: 10%;
                    }

                    .context p{
                        font-size: 12px;
                    }
                    p{
                        margin: 15px 0px;
                    }

                </style>
            </head>
            <body>

                <div style="background: #0b0b0b; padding:10px 30px;"><img src="https://www.ecellvnit.org/img/logo-ecell.png"></div>
                <h2 style="font-size:22px;">StartUp Conclave<br><span style="font-size: 16px">Make Ideas Happen</span></h2><br>

                <div class="context">


                    <h3><b>Hello {{name}},</b></h3>


                    <p>Thank you for registering in StartUp Conclave 2019. To ensure your participation, please make the required payment by direct <a href="https://startupconclave.ecellvnit.org/login">login</a> using below credentials.</p>
                    <div>
                        <div style="background: #ffffffb3; padding: 30px 10px; font-size: 14px; margin: 40px 0px">
                            Login ID: <b>{{email}}</b><br><br>
                            Password: <b>{{password}}</b>
                        </div>

                        <p>
                      We are dedicated to support​ entrepreneurs, hence to ensure the quality of ideas and to maintain authenticity among participants we are charging a nominal registration fee of INR 300 only. The last date for making payment is 25th Dec-2018.<br>
                            You will receive the questionnaire for the first round as soon as you make your payment. The last date for the submission of a questionnaire is 10 Jan 2019<br>
                            If you have any queries regarding the payment procedure feel free to contact us at startupconclave@ecellvnit.org or just reply to this email.

                    </p>
                        <p>
                            With warm regards,<br>
                            PNAF & Team E-Cell, VNIT<br>
                        </p>


                    </div>
                </div>
            </body>
        </html>
