<!DOCTYPE html>
        <html>
            <head>
                <style>
                    li{
                        padding:10px;
                    }
                    p{
                        font-size:16px;
                    }

                    *{
                        font-family:Helvetica,Arial,sans-serif;
                    }

                    h2{
                        text-align: center;
                        margin-top: 150px;

                    }
                    html, body{
                        background-color:#f7f9fb;
                        margin: 0;
                    }
                    .context {
                        font-size: 12px;
                        padding: 40px 60px;
                        margin-left:10%;
                        margin-right: 10%;
                    }

                    .context p{
                        font-size: 12px;
                    }
                    p{
                        margin: 15px 0px;
                    }

                </style>
            </head>
            <body>

                <div style="background: #0b0b0b; padding:10px 30px;"><img src="https://www.ecellvnit.org/img/logo-ecell.png"></div>
                <h2 style="font-size:22px;">Welcome to Startup Conclave<br><span style="font-size: 16px">Make Ideas Happen</span></h2><br>

                <div class="context">


                    <h3><b>Hello {{name}},</b></h3>


                    <p>Congratulations! You are now a part of Central India’s Biggest B-Plan Competition.</p>
                    <div>
                        <p>We hope this mail finds you in the best of your health and cheerful spirits. We are well pleased to have you on board for the Round 1 of our competition.<br>
                        To access your team dashboard you can directly <a href="https://startupconclave.ecellvnit.org/login">login</a> by using your team credentials.</p>
                        <div style="background: #ffffffb3; padding: 30px 10px; font-size: 14px; margin: 40px 0px">
                            Login ID: <b>{{email}}</b><br><br>
                        </div>

                        <p>
                      To keep you updated, all the relevant details will be e-mailed to you as well as will be available on your dashboard.
                            Over this month, you will get access to plenty of valuable resources, which will help you guide your way through the competition.<br>
                      For queries and in case of any difficulty, feel free to contact us.<br>

                    </p>
                        <p>
                            With warm regards,<br>
                            PNAF & Team E-Cell, VNIT<br>
                        </p>


                    </div>
                </div>
            </body>
        </html>
