<div id="round2" class="g-padding-x-100--md g-padding-x-120--lg g-padding-x-40 g-padding-y-20--lg g-padding-y-20--md g-padding-y-20--sm">
                <span class="card-title">
                    <h3 class="g-font-size-20--xs g-color--dark g-margin-b-5--xs"><span style="color:#bd2026">Welcome To Round 2</span></h3>
                </span>
                <br>
                <p class=" g-font-size-16--xs g-color--dark g-padding-y-20--lg g-padding-y-20--md g-padding-y-20--sm">
                    Congratulations for qualifying for the second round! <br>In this round, you will create a B-plan which will map the company's future course of action. The format of your B-Plan structure is given below. After completing your B-Plan draft, upload it on your google drive share the link in the space provided below. <br> Similarly, make a video of your elevator pitch; upload it on your google drive and share the link below.
                </p>
                <br>
                <p class=" g-font-size-16--xs g-color--dark g-padding-y-20--lg g-padding-y-20--md g-padding-y-20--sm">
                    <b>Deadline: 28 - Feb - 19</b>
                </p>
               <form class=" g-width-400--sm g-width-400--md">
                    <div class="g-margin-b-30--xs">
                        <input type="text" class=" g-color--black" placeholder="* Google Drive Link for B-Plan">
                        <button type="submit" class=""><i class="ti-arrow-right"></i></button>
                    </div>
                </form>
                <form class=" g-width-400--sm g-width-400--md">
                    <div class="g-margin-b-30--xs">
                        <input type="text" class="g-color--black" placeholder="* Google Drive Link for Elevator Pitch">
                        <button type="submit" class=""><i class="ti-arrow-right"></i></button>
                    </div>
                </form>

                <br>

                <br>
            </div>
            <div id="round3" class="g-padding-x-100--md g-padding-x-120--lg g-padding-x-40 g-padding-y-20--lg g-padding-y-20--md g-padding-y-20--sm">
                <span class="card-title">
                    <h3 class="g-font-size-18--xs g-color--dark g-margin-b-5--xs"><span style="color:#bd2026">Round 3 Details</span></h3>

                </span>
                <br>
                <p class="g-color--white-body">
                    Congratulations for qualifying the Round 2!
                </p>
                <p class="g-color--white-body">
                    Comming Soon
                </p>
            </div>