<!DOCTYPE html>
<html lang="en" class="no-js">
{{> head }}

<!-- Body -->

<body id="home">


    <!--========== HEADER ==========-->
    <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
        <!-- Navbar -->
        <nav class="s-header-v2__navbar">
            <div class="container g-display-table--lg">
                <!-- Navbar Row -->
                <div class="s-header-v2__navbar-row">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="s-header-v2__navbar-col">
                        <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse"
                            data-target="#nav-collapse" aria-expanded="false">
                            <span class="s-header-v2__toggle-icon-bar"></span>
                        </button>
                    </div>

                    <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                        <!-- Logo -->
                        <div class="s-header-v2__logo">
                            <a href="/" class="s-header-v2__logo-link">
                                <img class="s-header-v2__logo-img s-header-v2__logo-img--default"
                                    src="static/img/E-Cell_white.png" alt="Ecell Logo" height="50">
                                <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="static/img/up.png"
                                    alt="StartUp Conclave" height="60">
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>

                    <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                            <ul class="s-header-v2__nav">
                                <li class="s-header-v2__nav-item"><a href="#home" class="s-header-v2__nav-link">Home</a>
                                </li>
                                <li class="s-header-v2__nav-item"><a href="#about" class="s-header-v2__nav-link">About
                                        Us</a></li>
                                <li class="s-header-v2__nav-item"><a href="#faq" class="s-header-v2__nav-link">FAQs</a>
                                </li>
                                <li class="s-header-v2__nav-item"><a href="/partners"
                                        class="s-header-v2__nav-link">Partners</a></li>
                                <li class="s-header-v2__nav-item"><a href="#contact"
                                        class="s-header-v2__nav-link">Contact</a></li>
                                <li class="s-header-v2__nav-item"><a href="/login"
                                        class="s-header-v2__nav-link">Login</a></li>
                            </ul>
                        </div>
                        <!-- End Nav Menu -->
                    </div>
                </div>
                <!-- End Navbar Row -->
            </div>
        </nav>
        <!-- End Navbar -->
    </header>
    <!--========== END HEADER ==========-->

    <!--========== PROMO BLOCK ==========-->

    <div id="landing" class="g-fullheight--xs">
        <div class="g-fullheight--md g-container--md g-text-center--xs g-ver-center--md g-padding-y-80--xs g-padding-y-200--md"
            style="width:100%;background: rgba(0,0,0,0)">
            <div class="g-margin-b-60--xs" style="padding: 30px 30px 0px 30px;">
                <img class="resize" src="static/img/startup-conclave.png" alt="StartUp Conclave">
                <p class="g-font-size-45--xs g-font-size-32--md  g-margin-b-0--xs"
                    style="color:white;text-align:center">
                    <b>Make Ideas
                        Happen!</b></p>
            </div>

            <div class="row">
                <div class=" g-text-center--xs col-xs-12 col-sm-4 col-sm-offset-2">
                    <p class="text-uppercase g-font-size-14--xs g-font-size-18--sm g-font-weight--700 g-letter-spacing--2 g-margin-b-25--xs"
                        style="color: #ffffff;">
                        <span class="g-color--white-opacity"
                            style="text-decoration: none;border-bottom: 2px solid #bd2026">CASH PRIZES
                            WORTH</span><br><span class="g-font-size-20--xs g-font-size-30--sm"
                            style="color: #bd2026">&#8377;4 LAKHS</span>
                    </p>
                </div>
                <div class="g-text-center--xs col-xs-12 col-sm-4">
                    <p class="text-uppercase g-font-size-14--xs g-font-size-18--sm g-font-weight--700 g-letter-spacing--2 g-margin-b-25--xs"
                        style="color: #ffffff;">
                        <span class="g-color--white-opacity"
                            style="text-decoration: none;border-bottom: 2px solid #bd2026">RESOURCES
                            WORTH</span><br><span class="g-font-size-20--xs g-font-size-30--sm"
                            style="color: #bd2026">&#8377;1 MILLION</span>
                    </p>
                </div>
            </div>
            {{!-- <div class="g-text-center--xs g-margin-b-100--xs col-xs-12 col-sm-12">
                <span
                    class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm"
                    style="padding-top:3px;">
                    <a href="/register"
                        class="g-text-center--xs text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-65--xs">Register
                        Here</a>
                </span>
            </div> --}}

        </div>
        <!--</div>-->
    </div>
    <!--========== END PROMO BLOCK ==========-->

    <!-- REGISTER -->

    <!-- <h2 class="g-text-center--xs g-font-size-22--xs g-font-size-36--md g-color--white g-padding-y-20--xs g-padding-y-60--sm">Register Now</h2> -->
    <!-- <div class="g-text-center--xs g-margin-b-30--xs">
                <p class="text-uppercase g-font-size-20--xs g-font-weight--700 g-letter-spacing--2" style="color: #bd2026">Registrations have been closed!</p>
            </div> -->
    <!-- <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm" style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>16<sup>th</sup> January 2019:</span></b> Results of Round 1 will be declared</p>
            <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm" style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>18<sup>th</sup> January 2019:</span></b> A webinar on 'How to Create a B-Plan'</p>
            <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm" style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>20<sup>th</sup> January 2019:</span></b> Mentor Allotment to the qualified teams</p>
            <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm" style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>21<sup>st</sup> January 2019:</span></b> Mentoring session commences</p>
            <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm" style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>5<sup>th</sup> February 2019:</span></b> B-Plan Draft Submission</p>
            <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm" style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>12<sup>th</sup> February 2019:</span></b> Final B-Plan Submission with the Pitch deck</p>
            <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm" style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>15<sup>th</sup> February 2019:</span></b> Results of Round 3 will be declared</p>
            <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm" style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>18<sup>th</sup> February 2019:</span></b> Ultimate B-Plan Submission for the Round 2 qualified teams</p>
            <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm" style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>1<sup>st</sup> March 2019:</span></b> Final Round in VNIT Nagpur (InterNIT)</p>
            <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm" style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>2<sup>nd</sup> March 2019:</span></b> Final Round in VNIT Nagpur (Open)</p> -->
    <!-- <p class="text-uppercase g-text-center--xs g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Registrations are open till 5<sup>th</sup> January 2019</p> -->

    <div id="tiers" class="row" style="background-color: black;opacity:0.7; padding:25px">
        <div class="g-text-center--xs g-margin-b-100--xs col-xs-12 col-sm-6">
            <div class="g-text-center--xs g-margin-b-30--xs">
                <p class="text-uppercase g-font-size-20--xs g-font-weight--700 g-letter-spacing--2"
                    style="color: #bd2026">Business Tier</p>
            </div>
            <p class="g-font-size-18--sm g-text-center--xs g-color--white">The Business tier is a platform for all the
                startups across WORLD </br>to exhibit their ideas and produce
                great opportunities. The Business tier</br> is aimed at helping ideas develop into successful
                and profitable businesses</p>
            <p
                class="text-uppercase g-font-size-14--xs g-color--white g-font-weight--400 g-letter-spacing--1 g-margin-b-25--xs">
                Until 31st DECEMBER 2019</p>
            <br>
            <span
                class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm"
                style="padding-top:3px;">
                <a href="/register-business"
                    class="g-text-center--xs text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-65--xs">Register
                    Here</a>
            </span>
        </div>
        <div class="g-text-center--xs g-margin-b-100--xs col-xs-12 col-sm-6">
            <div class="g-text-center--xs g-margin-b-30--xs">
                <p class="text-uppercase g-font-size-20--xs g-font-weight--700 g-letter-spacing--2"
                    style="color: #bd2026">Social Tier</p>
            </div>
            <p class="g-font-size-18--sm g-text-center--xs g-color--white"> A special tier is introduced to encourage
                startups to work for the </br> upliftment of the weaker sections of
                the society. The startups primarily</br> working in the following areas:
                are eligible to register for the social tier.</p>
            <p
                class="text-uppercase g-font-size-14--xs g-color--white g-font-weight--400 g-letter-spacing--1 g-margin-b-25--xs">
                Until 31st DECEMBER 2019</p>
            <span
                class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm"
                style="padding-top:29px;">
                <a href="/register-social"
                    class="g-text-center--xs text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-65--xs">Register
                    Here</a>
            </span>
        </div>

    </div>


    <!-- END REGISTER -->

    <!--========== PAGE CONTENT ==========-->
    <!-- About -->
    <div id="about" class="container g-padding-y-60--xs g-padding-y-80--sm">
        <div class="g-text-center--xs g-margin-b-20--xs">
            <p class="text-uppercase g-font-size-20--xs g-font-weight--700 g-letter-spacing--2 g-margin-b-25--xs"
                style="color: #bd2026">ABOUT</p>
        </div>
        <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-20--xs g-margin-b-50--md">
            <div class="col-sm-3 col-sm-push-3 col-xs-6 g-hor-centered-row__col">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s"
                    style="padding: 20px 20px 20px 50px">
                    <img class="img-responsive g-padding-x-0--xs" src="static/img/E-Cell typo - original copy.png"
                        alt="PNAF">
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5 col-sm-pull-1 g-text-left--xs g-hor-centered-row__col">
                <!--<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">About</p>-->
                <!--<h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">About PNAF</h2>-->
                <p class="g-font-size-18--sm">Entrepreneurship Cell is managed by students of VNIT under the
                    guidance of
                    Centre of Innovation, Nagpur and Prime Minister Yuva Yojana, which aims to promote and develop
                    entrepreneurship culture amongst the students. Throughout the year, we conduct various events,
                    workshops and invite speakers from varied domains to inspire and assist students on their
                    journey to
                    become leading entrepreneurs of tomorrow.</p>
            </div>

        </div>
        <div class="row g-hor-centered-row--md g-row-col--5">
            <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col">
                <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".2s"
                    style="padding: 20px 20px 20px 50px">
                    <img class="img-responsive g-padding-x-0--xs" src="static/img/start-up_conclave.png"
                        alt="StartUp Conclave">
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5 col-sm-pull-6 g-hor-centered-row__col g-text-left--xs g-text-right--md">
                <!--<h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">About StartUp Conclave</h2>-->
                <p class="g-font-size-18--sm"> </br></br>Innovation and enterprising are the wheels that steer the world
                    into
                    a
                    brighter future. Great ideas result into great undertakings which pave the way for glaring
                    success.
                    In order to facilitate this vision of promoting entrepreneurship in India, <a
                        href="https://ecellvnit.org">E-Cell VNIT</a> organizes StartUp Conclave, a national-level
                    business plan competition.</p>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: white;">
        <div class="menubar-container">
            <ul>
                <li class="menu-link active-link" style="font-size: 25px; padding: 10px 25px 0px 10px;color:black">
                    <a href="#structure" id="t1">Structure
                    </a>
                    <div class="underline"></div>
                </li>
                <li class="menu-link" style="font-size: 22px;color:black">
                    <a href="#ruleandregulations" id="t2">Rules</a>
                    <div class="underline"></div>
                </li>

            </ul>
        </div>
    </div>



    <!-- End About -->
    {{!-- <div class="row" style="background-color: white;">
        <div class="col-xs-3 col-sm-3"></div>
        <div class="col-xs-3 col-sm-3">
            <button id="t1" style="background-color: white;width:100%;">
                <p class="g-font-size-18--sm"><a>Structure</a></p>
            </button>
        </div>

        <div class="col-xs-3 col-sm-3">
            <button id="t2" style="background-color:transparent;width:100%;">
                <p class="g-font-size-18--sm"><a>Rules</a></p>
            </button>
        </div> --}}
    {{!-- <div class="col-xs-1 col-sm-1"></div> --}}

    <!--Rules and regulations-->
    <div id="ruleandregulations" style="display:none">
        <div class="center-block g-text-center--xs">
            <h2 class="s g-color--white g-font-size-22--xs g-font-size-36--md g-color--white g-padding-y-30--sm">
                </br>
                Rules and regulation
            </h2>
            <div class="container">
                <p class=" g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm "
                    style="text-align: justify;">

                    1.There is no offline submission for any round of the
                    competition
                    cycle.</br>
                    2. Participants are required to send any documents using a dedicated
                    mail ID used at the time
                    of
                    registration.</br>
                    3. A team can have one or more members with a maximum of five members in a team.</br>
                    4. More than one plan can be submitted by a single team. However, registrations are to be done
                    separately for each plan.</br>
                    5. Team information and other registration details can be changed on prior intimation to E-Cell
                    VNIT.</br>
                    6. One can even add or drop team members by mailing us before closing of 1st round.</br>
                    7. There is no restriction on teams taking part in other business plan competitions.</br>
                    8. Teams should always use their allotted registration code for any future correspondence.</br>
                    9. Every contestant must agree with the rules of the contest during registration in order to
                    participate.</br>
                    10. Please make sure you read the Terms and Conditions of the competition before
                    registering.</br>
                    11. In case of withdrawal from the competition, registration fees will NOT be refunded.</br>
                    12.A team can participate in both social and business tier , but with different ideas</br>

                </p>

            </div>
        </div>
    </div>

    <!-- Competition Structure -->
    <div id="structure">
        <div id="closestructre" class="container g-padding-y-40--xs g-padding-y-40--sm">
            <div class="g-text-center--xs g-margin-b-100--xs">
                <!--<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Start-up Conclave</p>-->
                <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white g-padding-y-30--sm">Competition
                    Structure</h2>
            </div>
            <ul class="list-inline row g-margin-b-40--xs">
                <!-- Process -->
                <li class="col-sm-4 col-xs-4 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--md">
                    <div class="center-block g-text-center--xs">
                        <div class="g-margin-b-30--xs">
                            <span
                                class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle"
                                style="color: #bd2026">01</span>
                        </div>
                        <div class="g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs g-color--white">Round 01</h3>
                            <p class="g-color--white">This round commences with filling our questionnaire. Our
                                experts
                                will analyze on the basis of idea generation and will shortlist teams for second
                                round.
                                Learning resources like videos, curated course material and presentations will be
                                shared
                                with the teams to guide them.</p>
                            <p
                                class="text-uppercase g-font-size-14--xs g-color--white g-font-weight--400 g-letter-spacing--1 g-margin-b-25--xs">
                                1 Dec 19 - 31 Dec 19</p>
                            <a id="r1"><button class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">View
                                    Schedule</button></a>
                        </div>
                    </div>
                </li>
                <!-- End Process -->

                <!-- Process -->
                <li class="col-sm-4 col-xs-4 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--md">
                    <div class="center-block g-text-center--xs">
                        <div class="g-margin-b-30--xs">
                            <span
                                class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle"
                                style="color: #bd2026">02</span>
                        </div>
                        <div class="g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs g-color--white">Round 02</h3>
                            <p class="g-color--white">In this round, shortlisted teams will create a Busienss Model
                                which
                                will
                                map the company's future course of action. Every team will send a video of their
                                elevator pitch. One to one mentoring by seasoned entrepreneurs will be provided to
                                the
                                teams.</p>
                            <p
                                class="text-uppercase g-font-size-14--xs g-color--white g-font-weight--400 g-letter-spacing--1 g-margin-b-25--xs">
                                4 Jan 20 - 2 Feb 20</p>

                            <div class="g-padding-y-25--xs">
                                <a id="r2"><button
                                        class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">View
                                        Schedule</button></a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- End Process -->

                <!-- Process -->
                <li class="col-sm-4 col-xs-4 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--sm">
                    <div class="center-block g-text-center--xs">
                        <div class="g-margin-b-30--xs">
                            <span
                                class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle"
                                style="color: #bd2026">03</span>
                        </div>
                        <div class="g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs g-color--white">Round 03</h3>
                            <p class="g-color--white">Top teams will represent their startup at VNIT from
                                21<sup>st</sup>
                                to 23<sup>nd</sup> February , 2020 during Consortium 2020.
                                The teams will have to submit pitch deck on 20<sup>th</sup> Feburary , 2020.
                                On 22<sup>nd</sup> and 23<sup>rd</sup> February, 2020 teams
                                will
                                pitch their start-up in front of the investor panel. This will be followed by the
                                award
                                ceremony. </p>
                            <p
                                class="text-uppercase g-font-size-14--xs g-color--white g-font-weight--400 g-letter-spacing--1 g-margin-b-25--xs">
                                2 feb 20 - 23 feb 20</p>
                            <a id="r3"><button class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">View
                                    Schedule</button></a>
                        </div>
                    </div>
                </li>
                <!-- End Process -->

            </ul>

        </div>
    </div>
    <!-- End Process -->


    <div id="round11">
        <div id="close1" style="text-align: center"><i class="ti-close"></i></div>
        <div class="container g-padding-y-40--xs g-padding-y-40--sm">
            <div class="g-text-center--xs g-margin-b-20--xs">
                <!--<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Start-up Conclave</p>-->
                <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white g-padding-y-30--sm">Round 1 Schedule
                </h2>
            </div>
            <div class="center-block g-text-center--xs">
                <div class="bg_element">
                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>1<sup>st</sup> December
                                2019:</b></span> Registration starts</p>
                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>1<sup>st</sup> December
                                2019:</b></span> Round 1 commences</p>
                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>31<sup>st</sup> December
                                2019:</b></span> Last Date for registration</p>
                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>4<sup>th</sup> January
                                2020:</b></span> Last Date for filling questionnaire.</p>
                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>7<sup>th</sup> January
                                2020:</b></span> Results of Round 1 will be declared</p>
                </div>
            </div>
        </div>
    </div>

    <div id="round2">
        <div id="close2" style="text-align: center"><i class="ti-close"></i></div>
        <div class="container g-padding-y-40--xs g-padding-y-40--sm">
            <div class="g-text-center--xs g-margin-b-20--xs">
                <!--<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Start-up Conclave</p>-->
                <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white g-padding-y-30--sm">Round 2 Schedule
                </h2>
            </div>
            <div class="center-block g-text-center--xs">
                <div class="bg_element">

                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>8<sup>th</sup> January
                                2020:</b></span> Mentor Allotment to the qualified teams</p>
                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>8<sup>th</sup> January
                                2020:</b></span> Mentoring session commences</p>
                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>29<sup>th</sup> January
                                2020:</b></span> Business Model Submission</p>
                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>31<sup>st</sup> January
                                2020:</b></span> Elevator Pitch Submission</p>
                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>2<sup>nd</sup> February
                                2020:</b></span> Results of Round 2 will be declared</p>
                </div>
            </div>
        </div>
    </div>

    <div id="round3">
        <div id="close3" style="text-align: center"><i class="ti-close"></i></div>
        <div class="container g-padding-y-40--xs g-padding-y-40--sm">
            <div class="g-text-center--xs g-margin-b-20--xs">
                <!--<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Start-up Conclave</p>-->
                <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white g-padding-y-30--sm">Round 3 Schedule
                </h2>
            </div>
            <div class="center-block g-text-center--xs">
                <div class="bg_element">

                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>20<sup>th</sup> February
                                2020:</b></span> Pitch Deck Submission</p>
                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>22<sup>nd</sup> February
                                2020:</b></span> Final Round in VNIT Nagpur (Social Tier)</p>
                    <p class="g-text-center--xs g-font-size-14--xs g-font-size-20--md g-color--white g-padding-y-20--xs g-padding-y-5--sm"
                        style="border-bottom: 1px solid #fff;"><span style="float:left;"><b>22<sup>nd</sup>Feburary
                                2020:</b></span> Final Round in VNIT Nagpur (Business tier)</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Mentors -->
    <div id="mentors" class="container-fluid g-padding-y-60--xs g-padding-y-80--sm">
        <div class="g-text-center--xs g-margin-b-80--xs">
            <p class="text-uppercase g-font-size-20--xs g-font-weight--700 g-letter-spacing--2 g-margin-b-25--xs"
                style="color: #bd2026">MENTORS</p>
        </div>

        <!-- Swiper -->
        <div class="s-swiper js__swiper-news">
            <!-- Wrapper -->
            <div class="swiper-wrapper g-margin-b-0--xs">
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-20--lg g-padding-y-40--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/yukti.jpg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                YUKTI MEHANDIRATTA</h3>
                            <p class="g-color--white">Silhouette by Yukti</p>
                        </div>
                        <a href="https://www.linkedin.com/in/yukti-mehandiratta-3164b652" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/saurabh.jpeg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:30px">
                                SAURABH MOODY VOICEMAN</h3>
                            <p class="g-color--white">CEO - alphaa.ai </p>
                        </div>
                        <a href="https://www.linkedin.com/in/saurabhmoody/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/anup.jpeg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:30px">
                                ANUP PANDEY</h3>
                            <p class="g-color--white">Chief Customer Officer at Kare4u Healthcare Solutions </p>
                        </div>
                        <a href="https://www.linkedin.com/in/anuppandey/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/balaji.jpg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                Balaji Viswanathan</h3>
                            <p class="g-color--white">CEO - Invento Robotics</p>
                        </div>
                        <a href="https://www.linkedin.com/in/balajivi/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/vasant.jpeg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                Vasant Prabhu</h3>
                            <p class="g-color--white">CEO - Homeomart</p>
                        </div>
                        <a href="https://www.linkedin.com/in/vasantp/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/madhur.jpg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                Madhur Goyal</h3>
                            <p class="g-color--white">Co-Founder at Outwit Outplay</p>
                        </div>
                        <a href="https://www.linkedin.com/in/madhur-g-6498213/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/dashradh.jpeg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:30px">
                                DASHRADH RAM NUTAKKI</h3>
                            <p class="g-color--white">Mentor & Coach - Factoryal Business Incubator (OPC) Pvt. Ltd.
                            </p>
                        </div>
                        <a href="https://www.linkedin.com/in/ramnutakki/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/aparna.jpg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:30px">
                                APARNA MISHRA</h3>
                            <p class="g-color--white">Founder CafeBiz Women Entrepreneurs Hub</p>
                        </div>
                        <a href="https://www.linkedin.com/in/aparna-mishra-8a685810/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/giridhar.jpg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:30px">T R
                                GIRIDHAR</h3>
                            <p class="g-color--white">Founder Partner - Just Bespoke Advisory LLP</p>
                        </div>
                        <a href="https://www.linkedin.com/in/tarakad-giridhar-ab33012/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/krishna.jpeg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                KRISHNAKUMAR DEVNALLY</h3>
                            <p class="g-color--white">Director, mPower Solutions</p>
                        </div>
                        <a href="https://www.linkedin.com/in/krishnakumardevnally/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/dipesh.jpeg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                DIPESH AJMERA</h3>
                            <p class="g-color--white">CEO, Ajmera Tyres, Nagpur</p>
                        </div>
                        <a href="https://www.linkedin.com/in/dipesh-ajmera-757b4315/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/mahesh.jpeg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                MAHESH RAKHEJA</h3>
                            <p class="g-color--white">Former Director, Religare</p>
                        </div>
                        <a href="https://www.linkedin.com/in/maheshrakheja/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/anil.jpeg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                ANIL KUMAR REDDY</h3>
                            <p class="g-color--white">CEO & Co-founder at Donatekart</p>
                        </div>
                        <a href="https://www.linkedin.com/in/anil-kumar-reddy/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/harshad.jpeg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                HARSHAD SACHANI</h3>
                            <p class="g-color--white">Co-Founder at Career Mentors</p>
                        </div>
                        <a href="https://www.linkedin.com/in/harshadsachani/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/manish.jpeg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                MANISH KHANCHANDANI</h3>
                            <p class="g-color--white">Co-Founder at Khichadiwala LLP</p>
                        </div>
                        <a href="https://www.linkedin.com/in/manish-khanchandani-1b303b33/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                    </div>
                </article>
            </div>
            <!-- End Wrapper -->

            <!-- Pagination -->
            <div class="s-swiper__pagination-v1 s-swiper__pagination-v1--dark g-text-center--xs js__swiper-pagination">
            </div>
        </div>
        <!-- End Swiper -->
    </div>
    <!-- End Mentors -->
    <div>
        <divclass="container g-padding-y-125--xs">
            <h2 class="g-font-size-32--xs g-font-size-36--md g-text-center--xs g-margin-b-80--xs g-color--white">
                Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="cbp-l-grid-faq js__grid-faq">

                        <div class="cbp-item community">
                            <div class="cbp-caption">
                                <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                    <h3 class="s-faq-grid__title faq_head">Why should I participate in StartUp
                                        Conclave?
                                    </h3>
                                </div>
                                <div class="cbp-caption-activeWrap faq_con">
                                    <div class="g-color--white-opacity">
                                        Right from acknowledging potential of your idea, enhancing your business
                                        acumen,
                                        steering your idea in correct direction, scrutinizing your views which will
                                        pave
                                        your way for glaring success , this platform has it all!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item buying">
                            <div class="cbp-caption">
                                <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                    <h4 class="s-faq-grid__title faq_head">When and where is the final round of
                                        StartUp
                                        Conclave?</h4>
                                </div>
                                <div class="cbp-caption-activeWrap faq_con">
                                    <div class="g-color--white-opacity">
                                        Consortium is a 3 day Entrepreneurship Summit which will be held on
                                        8<sup>th</sup> to 10<sup>th</sup> March 19. The final round of Startup
                                        Conclave
                                        shall be on 9<sup>th</sup> and 10<sup>th</sup> March. Shortlisted teams will
                                        be
                                        invited to VNIT for the final pitching.
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="cbp-item author">
                            <div class="cbp-caption">
                                <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                    <h4 class="s-faq-grid__title faq_head">What is the eligibility for participating
                                        in
                                        startup conclave?</h4>
                                </div>
                                <div class="cbp-caption-activeWrap faq_con">
                                    <div class="g-color--white-opacity">
                                        Any NIT or non-NITian team having a budding startup idea which you think has
                                        a
                                        prospective of emerging as a successful startup provided we give a momentum
                                        is
                                        welcome. NITians should participate in NIT Tier and all others should
                                        participate in the Open Tier. You can participate in a team with 2 to 5
                                        members.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item account">
                            <div class="cbp-caption">
                                <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                    <h4 class="s-faq-grid__title faq_head">Is there a separate event for NITians and
                                        non-NITians?</h4>
                                </div>
                                <div class="cbp-caption-activeWrap faq_con">
                                    <div class="g-color--white-opacity">
                                        It is the same event for everyone though we have done segregation only to
                                        recognize the best ideas from NITs. The qualification scenarios will be in
                                        respective groups only and will continue till last round.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class=" cbp-l-grid-faq js__grid-faq">

                        <div class="cbp-item author">
                            <div class="cbp-caption">
                                <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                    <h4 class="s-faq-grid__title faq_head">When is the last date for registration?
                                    </h4>
                                </div>
                                <div class="cbp-caption-activeWrap faq_con">
                                    <div class="g-color--white-opacity">
                                        Registrations will be open till 5th January 2019.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item copyright">
                            <div class="cbp-caption">
                                <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                    <h4 class="s-faq-grid__title faq_head">How much is the registration fees?</h4>
                                </div>
                                <div class="cbp-caption-activeWrap faq_con">
                                    <div class="g-color--white-opacity">
                                        Registration fees for the participants is Rs. 300 per team.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-item buying">
                            <div class="cbp-caption">
                                <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                    <h4 class="s-faq-grid__title faq_head">About B-plan in second round.</h4>
                                </div>
                                <div class="cbp-caption-activeWrap faq_con">
                                    <div class="g-color--white-opacity">
                                        A B-plan or business plan is a formal written document containing business
                                        goals, various methods about how can these be attained , time frame within
                                        which
                                        these goals will be achieved and your future targets. Generally we expect a
                                        detailed document consisting of around 30-40 pages which briefly describes
                                        the
                                        future course of your startup.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item community">
                            <div class="cbp-caption">
                                <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                    <h4 class="s-faq-grid__title faq_head">Who will conduct the mentoring sessions?
                                    </h4>
                                </div>
                                <div class="cbp-caption-activeWrap faq_con">
                                    <div class="g-color--white-opacity">
                                        We have veterans from entrepreneurial field to conduct mentoring sessions
                                        who
                                        will guide you and also answer all your queries related to your startup.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <!-- End FAQ -->

    <!-- FAQ -->

    <!-- Our Investors -->
    <div id="investors" class="container-fluid g-padding-y-60--xs g-padding-y-80--sm">
        <div class="g-text-center--xs g-margin-b-80--xs">
            <p class="text-uppercase g-font-size-20--xs g-font-weight--700 g-letter-spacing--2 g-margin-b-25--xs"
                style="color: #bd2026"> PREVIOUS INVESTORS</p>
        </div>

        <!-- Swiper -->
        <div class="s-swiper js__swiper-news">
            <!-- Wrapper -->
            <div class="swiper-wrapper g-margin-b-60--xs">
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/kishor.jpg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                KISHOR PANPALIYA</h3>
                            <p class="g-color--white">Vice President At Americas & APAC</p>
                        </div>
                        <a href="https://www.linkedin.com/in/kishorbampaliya/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img
                                src=""></a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/shashikant.png"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                SHASHIKANT CHAUDHARY</h3>
                            <p class="g-color--white">Cofounder, Nagpur Angels</p>
                        </div>
                        <a href="https://www.linkedin.com/in/bhaveshkothari1511/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img
                                src=""></a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/devesh.jpg"
                                style="border-radius: 100px; width: 200px;height: 200px"></img>
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                DEVESH CHAWLA</h3>
                            <p class="g-color--white">CEO & Founder - Chatur Ideas</p>
                        </div>
                        <a href="https://www.linkedin.com/in/devesh-chawla/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img
                                src=""></a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/shwetank.jpg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                SHWETANK SHRIMAL</h3>
                            <p class="g-color--white">Serial Entrepreneur & Investor - UK</p>
                        </div>
                        <a href="https://www.linkedin.com/in/shwetank-shrimal-43b74625/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img
                                src=""></a>
                    </div>
                </article>
                <article class="g-bg-position--center swiper-slide grad">
                    <div
                        class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs pad">
                        <div class="g-margin-b-15--xs">
                            <img src="static/img/pictures/neha.jpeg"
                                style="border-radius: 100px; width: 200px;height: 200px" />
                            <h3 class="g-font-size-16--xs g-color--white g-margin-b-10--xs" style="padding-top:50px">
                                NEHA JAIN</h3>
                            <p class="g-color--white">Co-founder at Z Nation Lab</p>
                        </div>
                        <a href="https://www.linkedin.com/in/neha-jain-820ab5120/" target="_blank"
                            class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img
                                src=""></a>
                    </div>
                </article>
            </div>
            <!-- End Wrapper -->

            <!-- Pagination -->
            <div class="s-swiper__pagination-v1 s-swiper__pagination-v1--dark g-text-center--xs js__swiper-pagination">
            </div>
        </div>
        <!-- End Swiper -->
    </div>
    <!-- End Investors -->

    <!-- Feedback Form -->
    <div id="contact" class="g-position--relative">
        <!--<img class="s-mockup-v2" src="img/mockups/pencil-01.png" alt="Mockup Image">-->
        <div class="g-container--md g-padding-y-20--xs">
            <div class="g-text-center--xs g-margin-t-40--xs g-margin-b-70--xs">
                <!--<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Contact Us</p>-->
                <h2 class="g-font-size-32--xs g-font-size-36--sm g-color--white">Get in Touch</h2>
            </div>

            <div id="managers" class="row g-row-col--5 g-margin-b-80--xs">
                <div class="col-xs-3 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                    <div class="g-text-center--xs">
                        <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Yash Mantri</h4>
                        <p class="g-color--white">+91 7620872471<br>yamantri007@gmail.com</p>
                    </div>
                </div>
                <div class="col-xs-3 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                    <div class="g-text-center--xs">
                        <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Digesh Gaunder</h4>
                        <p class="g-color--white">+91 8378939747<br>digesh2k@gmail.com</p>
                    </div>
                </div>
                <div class="col-xs-3 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                    <div class="g-text-center--xs">
                        <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Aniket Pandey</h4>
                        <p class="g-color--white">+91 8169777455<br>ecellvnit.aniket@gmail.com</p>
                    </div>
                </div>
                <div class="col-xs-3 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                    <div class="g-text-center--xs">
                        <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Nandita Khajuria</h4>
                        <p class="g-color--white">+91 9359458871<br>khajurianandita@gmail.com</p>
                    </div>
                </div>

            </div>




            <div class="row g-row-col--5 g-margin-b-10--xs">
                <div class="col-xs-6 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                    <div class="g-text-center--xs">
                        <i
                            class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-email"></i>
                        <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Email</h4>
                        <p class="g-color--white">startupconclave@ecellvnit.org</p>
                    </div>
                </div>
                <div class="col-xs-6 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                    <div class="g-text-center--xs">
                        <i
                            class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-map-alt"></i>
                        <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Address</h4>
                        <p class="g-color--white">Visvesvaraya National Institute of Technology,<br> Nagpur, Maharashtra
                        </p>
                    </div>
                </div>
            </div>
            <div class="g-text-center--xs g-margin-b-40--xs">
                <br>
                <p
                    class="text-uppercase g-font-size-14--xs g-color--white g-font-weight--400 g-letter-spacing--2 g-margin-b-25--xs">
                    Or Need Any Help? Contact: <a href="https://ecellvnit.org/team.php">Team</a></p>
            </div>




            <!--<form class="center-block g-width-500--sm g-width-550--md" method="post" action="">-->
            <!--<div class="g-margin-b-30--xs">-->
            <!--<input type="text" class="form-control s-form-v3__input" placeholder="* Name">-->
            <!--</div>-->
            <!--<div class="row g-row-col-5 g-margin-b-50--xs">-->
            <!--<div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">-->
            <!--<input type="email" class="form-control s-form-v3__input" placeholder="* Email">-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
            <!--<input type="text" class="form-control s-form-v3__input" placeholder="* Phone">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="g-margin-b-80--xs">-->
            <!--<textarea class="form-control s-form-v3__input" rows="5" placeholder="* Your message"></textarea>-->
            <!--</div>-->
            <!--<div class="g-text-center--xs">-->
            <!--<button type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Submit</button>-->
            <!--</div>-->
            <!--</form>-->
        </div>
    </div>


    <!-- End Feedback Form -->

    <!--========== FOOTER ==========-->

    {{> footer}}

    <!--========== END FOOTER ==========-->

    {{> scripts}}
    <!--========== END JAVASCRIPTS ==========-->

    <script type="text/javascript">
        $("#r1").click(function () {
            $("#round11").css({ "display": "block", "color": "white" });
            $("#round2").css({ "display": "none" });
            $("#round3").css({ "display": "none" });
            $("#round11").animate({ opacity: 1 }, 1000);
            var x = $("#round11").offset().top;
            $("html ,body").animate({ scrollTop: x }, 800);
        });
        $("#close1").click(function () {
            $("#round11").css({ "display": "none" });
            var a = $("#structure").offset().top;
            $("html ,body").animate({ scrollTop: a }, 800);
        });

        $("#r2").click(function () {
            $("#round2").css({ "display": "block", "color": "white" });
            $("#round11").css({ "display": "none" });
            $("#round3").css({ "display": "none" });
            $("#round2").animate({ opacity: 1 }, 1000);
            var y = $("#round2").offset().top;
            $("html ,body").animate({ scrollTop: y }, 800);
        });
        $("#close2").click(function () {
            $("#round2").css({ "display": "none" });
            var b = $("#structure").offset().top;
            $("html ,body").animate({ scrollTop: b }, 800);
        });

        $("#r3").click(function () {
            $("#round3").css({ "display": "block", "color": "white" });
            $("#round11").css({ "display": "none" });
            $("#round2").css({ "display": "none" });
            $("#round3").animate({ opacity: 1 }, 1000);
            var z = $("#round3").offset().top;
            $("html ,body").animate({ scrollTop: z }, 800);
        });

        $("#close3").click(function () {
            $("#round3").css({ "display": "none" });
            var c = $("#structure").offset().top;
            $("html ,body").animate({ scrollTop: c }, 800);
        });
        $("#t1").click(function () {
            $("#structure").css({ "display": "block", "color": "white" });
            $("#ruleandregulations").css({ "display": "none" });
            $("#structure").animate({ opacity: 1 }, 1000);
            var i = $("#structure").offset().top;
            $("html ,body").animate({ scrollTop: i }, 800);
        });
        $("#t2").click(function () {
            $("#ruleandregulations").css({ "display": "block", "color": "white" });
            $("#structure").css({ "display": "none" });
            $("#ruleandregulations").animate({ opacity: 1 }, 1000);
            var j = $("#ruleandregulations").offset().top;
            $("html ,body").animate({ scrollTop: j }, 800);
        });

        $("#closerule").click(function () {
            $("#ruleandregulations").css({ "display": "none" });
            var d = $("#structure").offset().top;
            $("html ,body").animate({ scrollTop: d }, 800);
        });
        $('.menu-link').on('click', function () {
            $('.active-link').removeClass('active-link');
            $(this).addClass('active-link');
        });


    </script>
</body>
<!-- End Body -->

</html>
