<!DOCTYPE html>
<html lang="en" class="no-js">

        {{> head }}
    <!-- End Head -->

    <!-- Body -->
    <body>

        <!--========== HEADER ==========-->
        <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
            <!-- Navbar -->
            <nav class="s-header-v2__navbar">
                <div class="container g-display-table--lg">
                    <!-- Navbar Row -->
                    <div class="s-header-v2__navbar-row">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="s-header-v2__navbar-col">
                            <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                                <span class="s-header-v2__toggle-icon-bar"></span>
                            </button>
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                            <!-- Logo -->
                            <div class="s-header-v2__logo">
                                <a href="/" class="s-header-v2__logo-link">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--default" src="static/img/up.png" alt="StartUp Conclave" height="70">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="static/img/up.png" alt="StartUp Conclave" height="60">
                                </a>
                            </div>
                            <!-- End Logo -->
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                                <ul class="s-header-v2__nav">
                                    <li class="s-header-v2__nav-item"><a href="/" class="s-header-v2__nav-link">Home</a></li>
                                    <li class="s-header-v2__nav-item"><a href="/login" class="s-header-v2__nav-link">Login</a></li>
                                </ul>
                            </div>
                            <!-- End Nav Menu -->
                        </div>
                    </div>
                    <!-- End Navbar Row -->
                </div>
            </nav>
            <!-- End Navbar -->
        </header>
        <!--========== END HEADER ==========-->

        <!--========== PAGE CONTENT ==========-->

        <div id="register">
            <div class="g-container--sm g-padding-y-80--xs g-padding-y-125--xsm">
                <div class="g-text-center--xs g-margin-b-60--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Sign Up</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white">Registerations Closed</h2>
                    {{# if message}}
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--red g-letter-spacing--2 g-margin-b-25--xs">{{message}}</p>
                    {{/if}}
                    <p id="message" class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--red g-letter-spacing--2 g-margin-b-25--xs"></p>
                </div>
                <form class="center-block g-width-500--sm g-width-550--md" method="post" action="" onsubmit="return validateData();">
                    <div class="permanent">
                        <div class="g-margin-b-30--xs">
                            <select type="choice" class="form-control s-form-v3__input" placeholder="* College" name="organisation" id="college">
                              <option value="" selected disabled hidden>Choose College</option>
                              <option value="NIT Agartala" style="color:black">NIT Agartala</option>
                              <option value="NIT Allahabad" style="color:black">NIT Allahabad</option>
                              <option value="NIT Arunachal Pradesh" style="color:black">NIT Arunachal Pradesh</option>
                              <option value="NIT Bhopal" style="color:black">NIT Bhopal</option>
                              <option value="NIT Calicut" style="color:black">NIT Calicut</option>
                              <option value="NIT Delhi" style="color:black">NIT Delhi</option>
                              <option value="NIT Durgapur" style="color:black">NIT Durgapur</option>
                              <option value="NIT Goa" style="color:black">NIT Goa</option>
                              <option value="NIT Hamirpur" style="color:black">NIT Hamirpur</option>
                              <option value="NIT Jaipur" style="color:black">NIT Jaipur</option>
                              <option value="NIT Jalandhar" style="color:black">NIT Jalandhar</option>
                              <option value="NIT Jamshedpur" style="color:black">NIT Jamshedpur</option>
                              <option value="NIT Karaikal" style="color:black">NIT Karaikal</option>
                              <option value="NIT Kurukshetra" style="color:black">NIT Kurukshetra</option>
                              <option value="NIT Manipur" style="color:black">NIT Manipur</option>
                              <option value="NIT Meghalaya" style="color:black">NIT Meghalaya</option>
                              <option value="NIT Mizoram" style="color:black">NIT Mizoram</option>
                              <option value="NIT Nagaland" style="color:black">NIT Nagaland</option>
                              <option value="NIT Nagpur" style="color:black">NIT Nagpur</option>
                              <option value="NIT Patna" style="color:black">NIT Patna</option>
                              <option value="NIT Raipur" style="color:black">NIT Raipur</option>
                              <option value="NIT Rourkela" style="color:black">NIT Rourkela</option>
                              <option value="NIT Sikkim" style="color:black">NIT Sikkim</option>
                              <option value="NIT Silchar" style="color:black">NIT Silchar</option>
                              <option value="NIT Srinagar" style="color:black">NIT Srinagar</option>
                              <option value="NIT Surat" style="color:black">NIT Surat</option>
                              <option value="NIT Surathkal" style="color:black">NIT Surathkal</option>
                              <option value="NIT Tadepalligudem" style="color:black">NIT Tadepalligudem</option>
                              <option value="NIT Trichy" style="color:black">NIT Trichy</option>
                              <option value="NIT Uttarakhand" style="color:black">NIT Uttarakhand</option>
                              <option value="NIT Warangal" style="color:black">NIT Warangal</option>
                            </select>
                        </div>
                        <div class="g-margin-b-30--xs">
                            <input type="text" class="form-control s-form-v3__input" placeholder="* Team Name" name="teamname" id="team_name">
                        </div>
                        <div class="row g-margin-b-50--xs">
                            <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                                <input type="email" class="form-control s-form-v3__input" placeholder="* TEAM EMAIL" name="teamemail" style="text-transform: none" id="team_email">
                            </div>
                            <!--<div class="col-sm-6">-->
                            <!--    <input type="text" class="form-control s-form-v3__input" placeholder="* Phone" >-->
                            <!--</div>-->
                            <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                                <select type="number" pattern="[0-9]{11}" class="form-control s-form-v3__input" name="number" placeholder="* No. of members" id="members" >
                                    <option value="" selected disabled hidden >Number of members</option>
                                    <option value="2" style="color:black">2</option>
                                    <option value="3" style="color:black">3</option>
                                    <option value="4" style="color:black">4</option>
                                    <option value="5" style="color:black">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--<div class="temp"></sdiv>-->
                    <div class="g-margin-b-30--xs">
                            <input type="password" class="form-control s-form-v3__input" placeholder="* Password" name="password" id="password">
                    </div>



                    <div class="g-text-center--xs">
                        <button type="submit" disabled class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!--========== END PAGE CONTENT ==========-->

        {{> footer}}
        {{> scripts }}
        <script type="text/javascript" src="static/js/client.js"></script>

    </body>
    <!-- End Body -->
</html>
